<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>observer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1, maximum-scale=1">
  <script type="text/javascript" src="./myVue.js"></script>
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
      window.myVueObj = new myVue({
        el: '#app',
        data: {
          name: 'yuanye',
          age: {
            a: 1,
            b: 2,
            c: 3
          },
          isShow: true,
          value: 'foo'
        },
        methods: {
          changeName: function() {
            this.name = Math.floor(Math.random()*10);
          },
          toggleShow: function() {
            this.isShow = !this.isShow;
          }
        }
      });      
    });
  </script>
</head>
<body>
  <div id="app">
    <button @click="changeName">修改obj.name值</button>
    <button v-on:click="toggleShow">显示/隐藏</button>
    <p class="name" v-show="isShow">{{name}}</p>
    <input type="text" v-model="value">
    <textarea v-model="value" cols="30" rows="10"></textarea>
  </div>

</body>
</html>